# Credenciais e chaves
chave-gcp/
*.json
!package.json
!package-lock.json
key.json
credentials.json
service-account*.json
*.pem
*.key
*.pfx

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos de sistema
.DS_Store
Thumbs.db

# Pastas e arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
env/
venv/
venvdbt
.venv/

# Arquivos de log
*.log
logs/

# Dados brutos e processados
data/

# Modelos treinados e artefatos
models/*.pkl

# Arquivos do Airflow
airflow.db
airflow.cfg

# Arquivos temporários
*.tmp
*.temp
*.bak
*.swp
*.cache
*.egg-info/

# dbt
profiles.yml
.user.yml
packages.yml
dbt_project.yml
dbt_packages/
target/

# IDEs
.vscode/
.idea/
*.code-workspace

# Arquivos de saída do Looker Studio
dashboards/looker_studio/*.output

# Arquivos de Teste
01.manage_files _GCS _simples.ipynb
01.file_to_parket.ipynb
02.manage_tables_bigquery_simples.ipynb
scripts/Outros
improved-readme.md
prediction.ipynb
fluxo-branch.md
